<div class="header" style="    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(111, 191, 215) 0%, rgb(148, 162, 167) 56%);">
      
</div>
    
  
  <br><br><br>

  <h2>User Profile</h2>
  <div>
    <table>  
      <tr>
        <td><label for="name">Name:</label></td>
        <td><input [(ngModel)]="user.name" type="text" id="name"></td>
      </tr>
      <tr>
        <td><label for="mobileNumber">Mobile Number:</label></td>
        <td><input [(ngModel)]="user.mobileNumber" type="text" id="mobileNumber"></td>
      </tr>
      <tr>
        <td><label for="email">Email ID:</label></td>
        <td><input [(ngModel)]="user.email" type="email" id="email"></td>
      </tr>
      <tr>
        <td><label for="aadharCardNumber">Aadhar Card Number:</label></td>
        <td><input [(ngModel)]="user.aadharCardNumber" type="text" id="aadharCardNumber"></td>
      </tr>
      <tr>
        <td><label for="Address">Address:</label></td>
        <td><textarea [(ngModel)]="user.Address" id="Address"></textarea></td>
      </tr>
      <tr>
        <td><label for="occupation">Occupation:</label></td>
        <td><input [(ngModel)]="user.occupation" type="text" id="occupation"></td>
      </tr>
    </table>
  </div>
  
  <footer class="footer fixed-bottom text-center">
    <div className="col-md-4 d-flex align-items-center" >
      <span class="cg-foot-logo" >Your Bank Name.</span> All rights reserved.
    </div>
  </footer>
  
  
  
  
  