<!-- 




    <div id="horizontal-bar">

       
          

       

</div>

<body>

<div id="vertical-bar">

       

        <button data-option="dashboard" routerLink="/AccountStatement"><h5>Account-Statement</h5></button><br>

        <button data-option="dashboard" routerLink="/user-details"><h5>User-Details</h5></button><br>

        <button data-option="dashboard" routerLink="/financialdetails"><h5>Account-Summary</h5></button><br>

        <button data-option="dashboard" routerLink="/Fund-Transfer"><h5>Fund Transfer</h5></button><br>

        <button data-option="dashboard" routerLink="/pendingApproval"><h5>Pending Approvals</h5></button><br>

        <button data-option="dashboard" routerLink="/app-change-password"><h5>Change Password</h5></button><br>


       

</div>


</body>
<div id="horizontal-bar">
      <a class="nav-link" routerLink="/login">Logout</a><br>   
  </div>   -->

  <nav class="navbar navbar-expand-lg bg-body-primary" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(111, 191, 215) 0%, rgb(148, 162, 167) 56%);
  ">

    <div class="container-fluid">
  
  
  
  
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  
        <span class="navbar-toggler-icon"></span>
  
      </button>
  
      <div class="collapse navbar-collapse" id="navbarText">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

          <li class="nav-item">
  
            <a class="nav-link" routerLink="/user-details">User-Profile</a>
  
          </li>
  
          <li class="nav-item">
  
            <a class="nav-link" routerLink="/AccountStatement" >Account-Statement</a>
  
          </li>
  
          
  
          <li class="nav-item">
  
            <a class="nav-link" routerLink="/financialdetails">Account-Summary</a>
  
          </li>
          <li class="nav-item">
  
  
            <!-- openaccFormComponent -->
            <a class="nav-link" routerLink="/Fund-Transfer">Fund Transfer</a> 
  
          </li>
          <li class ="nav-item">
            <a class="nav-link" routerLink="/app-change-password">Change Password</a><br>
          </li>
  
        </ul>
        <a class="nav-link" routerLink="">Logout</a><br>
  
        
  
        
  
      </div>
  
    </div>
  
    </nav>
  
  
    <footer class="footer fixed-bottom text-center">
      <div className="col-md-4 d-flex align-items-center">
        <span class="cg-foot-logo">Your Bank Name.</span> All rights reserved.
      </div>
    </footer>
  
  
  