/* financial-details.component.css */

div {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td.debit {
    color: #d9534f;
  }
  
  td.credit {
    color: #5cb85c;
  }

  footer{

    background-attachment: fixed;
  
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(111, 191, 215) 0%, rgb(148, 162, 167) 56%);  
    padding: 10px;
  
  }
  .header {
  
    padding: 10px;
  
    text-align: center;
  
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(111, 191, 215) 0%, rgb(148, 162, 167) 56%);  
    color:#315a67;
  
    font-size: 40px;
  
  }
  nav a {
    color:black; /* Replace 'blue' with your desired text color */
  }
  
  