<div>
    <h2>Financial Details</h2>
  
    <div>
      <p><strong>Account Number:</strong> {{ financialDetails.accountNumber }}</p>
      <p><strong>Balance:</strong> $ {{ financialDetails.balance }}</p>
    </div>
  
    <div>
      <h3>Recent Transactions</h3>
      <table>
        <tr>
          <th>Date</th>
          <th>Amount</th>
        </tr>
        <tr *ngFor="let transaction of financialDetails.recentTransactions">
          <td>{{ transaction.date }}</td>
          <td >{{ transaction.amount | currency }}</td>
        </tr>
      </table>
    </div>
  </div>
  