<div class="header">


</div>

<a class="nav-link" routerLink="/dashborad">Back to Dashboard</a><br>

<div class="container">
    <!-- <a routerLink="/dashboard" class="back-button">Back to Dashboard</a> -->
    <h2>Account Statement</h2>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate">
  
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate">
  
    <button (click)="getAccountStatement()">Submit</button>
  
    <table *ngIf="accountStatementData.length > 0">
      <thead>
        <tr>
          <th>Account Number</th>
          <th>Name</th>
          <th>Account Type</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accountStatementData">
          <td>{{ account.accountNumber }}</td>
          <td>{{ account.name }}</td>
          <td>{{ account.accountType }}</td>
          <td>{{ account.balance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <footer class="footer fixed-bottom text-center">
    <div className="col-md-4 d-flex align-items-center">
      <!-- <span class="cg-foot-logo">Your Bank Name.</span> All rights reserved. -->
    </div>
  </footer>