<div class="header">
    <h2>Banking</h2> 
    </div>
<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-10 col-lg-5 col-md-4 offset-lg-4 offset-md-2">   
                <div class="panel border bg-white">
                <div class="panel-heading"><h3 class="pt-1 font-weight-bold">
                        <br><B>Register</B>
                </h3></div>
                <div class="panel-body p-4">
                    <form [formGroup]="signupForm">
                        <div class="form-group pt-5">
                            <div class="input-field" [class.error]="signupForm.controls['FullName'].dirty && signupForm.hasError('required','FullName')">
                                <!-- <span class="fa fa-user p-2"></span> -->
                                <input formControlName="FullName" type="text" placeholder="FullName">
                            </div> 
                        </div>
                        <small *ngIf="signupForm.controls['FullName'].dirty && signupForm.controls['FullName'].hasError('required')" class="text-danger">*FullName is required</small>
                        <!-- <button type="button" (click)="clearUsername()"></button> Add Clear button -->

                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signupForm.controls['Email'].dirty && signupForm.hasError('required','Email')">
                                <!-- <span class="fa fa-user p-2"></span> -->
                                <input formControlName="Email" type="text" placeholder="Email">
                            </div> 
                        </div>
                        <small *ngIf="signupForm.controls['Email'].dirty && signupForm.controls['Email'].hasError('required')" class="text-danger">*Email is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signupForm.controls['AadharCardNo'].dirty && signupForm.hasError('required','AadharCardNo')">
                                <!-- <span class="fa fa-lock p-2"></span> -->
                                <input formControlName="AadharCardNo" type="text" placeholder="AadharCardNo">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['AadharCardNo'].dirty && signupForm.hasError('required','AadharCardNo') " class="text-danger">*AadharCardNo is required</small>


                        
                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signupForm.controls['DOB'].dirty && signupForm.hasError('required','DOB')">
                                <!-- <span class="fa fa-lock p-2"></span> -->
                                <input formControlName="DOB" type="text" placeholder="DOB">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['DOB'].dirty && signupForm.hasError('required','DOB') " class="text-danger">*DOB is required</small>

                      
                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signupForm.controls['Address'].dirty && signupForm.hasError('required','Address')">
                                <!-- <span class="fa fa-lock p-2"></span> -->
                                <input formControlName="Address" type="text" placeholder="Address">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['Address'].dirty && signupForm.hasError('required','Address') " class="text-danger">*Address is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signupForm.controls['Occupation'].dirty && signupForm.hasError('required','Occupation')">
                                <!-- <span class="fa fa-lock p-2"></span> -->
                                <input formControlName="Occupation" type="text" placeholder="Occupation">
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['Occupation'].dirty && signupForm.hasError('required','Occupation') " class="text-danger">*Occupation is required</small>

                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signupForm.controls['Password'].dirty && signupForm.hasError('required','Password')">
                                <!-- <span class="fa fa-lock p-2"></span> -->
                                <input formControlName="Password" [type]="type" placeholder="Password">
                                <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['Password'].dirty && signupForm.hasError('required','Password') " class="text-danger">*Password is required</small>


                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signupForm.controls['ConfirmPassword'].dirty && signupForm.hasError('required','ConfirmPassword')">
                                <!-- <span class="fa fa-lock p-2"></span> -->
                                <input formControlName="ConfirmPassword" [type]="type" placeholder="Confirm Password">
                                <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                            </div>
                        </div>
                        <small *ngIf="signupForm.controls['ConfirmPassword'].dirty && signupForm.hasError('required','ConfirmPassword') " class="text-danger">*Confirm Password is required</small>


                        
                        
                        <!-- <div class="form-inline fr mt-4">
                            <a id="forget" class="font-weight-bold" routerLink="/forgot-password">Forget Password?</a>
                        </div> -->
                        <button (click)="onSignup" type="submit" class="btn btn-primary btn-block mt-4 w-100" [disabled]="!signupForm.valid" routerLink="/login" >SignUp</button>
                        <div class="text-center pt-4 text-muted">Already have an account?<a id="forget" routerLink="/login">Login</a></div>
                    </form>
                </div>
                <div class="mx-3 my-2 py-2 bordert">
                    <div class="text-center py-3">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer fixed-bottom text-center">
    <div className="col-md-4 d-flex align-items-center">
      <!-- <img src="https://companieslogo.com/img/orig/CAP.PA-9b4110b0.png?t=1651902188" width="20" height="20" className="cg-foot-logo mb-2"/>&nbsp; 2023 Capgemini. All rights reserved. -->
  </div>
  </footer>